body .maxwidth-theme {
  max-width: 1500px;
}

.main {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .detail-block.ordered-block > .content h2, .detail-block.ordered-block > .content p, .detail-block.ordered-block > .content h1, .detail-block.ordered-block > .content ul {
    padding-inline: 0;
  }
}

.bg-video {
  width: 100%;
  transform: initial;
}

.backgr-grey {
  background-color: #f1f3f5;
}

@media screen and (max-width: 600px) {
  .section-text__box {
    max-width: 100%;
  }
}

.mb80 {
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .mb80 {
    margin-bottom: 40px;
  }
}

body > .body:not(.index) > .main {
  padding-bottom: 0;
}

.video_box {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.video_box video {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.grid_video_2photo {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1500/650;
  display: grid;
  grid-template-columns: calc(70% - 10px) calc(30% - 10px);
  grid-template-rows: auto auto;
  gap: 20px;
}
.grid_video_2photo .video-popup {
  grid-row: 1/3;
  grid-column: 1/2;
}
@media screen and (max-width: 800px) {
  .grid_video_2photo .video-popup {
    grid-row: 1/-1;
    grid-column: 1/-1;
    width: 100%;
    aspect-ratio: 16/9;
  }
}
@media screen and (max-width: 800px) {
  .grid_video_2photo .grid_img {
    display: none;
  }
}